.App {
  text-align: center;
  border: 1px;
  border-radius: 10px;
  background-color: #61dafb;
  margin-left: 20cm;
  margin-right: 20cm;
}

.App-bg {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: "cover";
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BG-image {
  background-color: #282c34;
  background-size: "cover";
  background-repeat: no-repeat;
}

